<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body ng-app="springDemo" style="margin-left: 5%; margin-right: 5% ; margin-top: 20px">
<div  ng-controller="AppCtrl" style="container;">
    <input placeholder="Пошук..." type ="text" ng-model="query">
                    <table class="table-striped  table-hover table-bordered table" style="margin-right: 5%;" >
                        <thead style="background-color: #a8e3f1;">
                        <tr>
                            <th><a href="" ng-click="sort('tittle')">Тема</a></th>
                            <th><a href="" ng-click="sort('author')">Автор</a></th>
                            <th><a href="" ng-click="sort('pages')">Сторінка</a></th>
                            <th><a href="" ng-click="sort('year')">Рік Видання</a></th>
                            <th><a href="" ng-click="sort('point')">№ Публікації</a></th>
                            <th><a href="" ng-click="sort('words')">Ключові слова</a></th>
                            <th><a href="" ng-click="sort('thema')">Тематика</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in websites | filter:query | orderBy:sortField:revers">
                            <th><a href ={{item.link}} />{{item.tittle}}</a></th>
                            <th>{{item.author}}</th>
                            <th>{{item.pages}}</th>
                            <th>{{item.year}}</th>
                            <th>{{item.point}}</th>
                            <th>{{item.words}}</th>
                            <th>{{item.thema}}</th>
                        </tr>
                        </tbody>
                    </table>
</div>
<script type="text/javascript" src="../static/js/angular.min.js"
        th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" src="../static/js/head.js"
        th:src="@{/js/head.js}"></script>
</body>
</html>